* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Oswald', serif;
}
html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

body {
  background: url(Pokerbackdrop.jpg) no-repeat center center fixed;
  background-size: cover;

}
.bigChip {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  margin: 0 auto;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
  background-color: black;
}

.profile {
  height: 50px;
  background-color: #f8f6e9;
  width: 100%;
}

.chipBox {
  width: 100%;
  display: flex;
  margin-top: 80px;
  margin-bottom: 40px;
}

.mainContent {
  width: 80%;
  margin: 0 auto;
  background-color: #f8f6e9;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.toWho {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 50px;
}

.fa-user {
  width: 20%;
  height: 50px;
  color: black;
  float: left;
  display: flex;
  font-size: 2em;
  justify-content: center;
  align-items: center;
}

.inputArea {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  text-align: center;
}

.dropdown {
  bottom: 42px;
  width: 40px;
  float: right;
}

.players:hover {
  cursor: pointer;
  color: #bd3d3c;
}

.btn-group {
  border: 1px solid lightgray;
  background-color: white;
  width: 80%;
}

.dropdown-toggle {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.toWhom {
  font-size: 1.8em;
  color: #bd3d3c;
}

.clear {
  color: black;
  font-size: 1.2em;
  margin-right: 10px;
  margin-left: 7px;
}

.clear:hover {
  cursor: pointer;
  color: #bd3d3c;
}

.btn .caret {
  margin-left: 10px;
  color: black;
}

.dropdown-menu {
  min-width: 100%;
  max-height: 300px;
  overflow: scroll;
  font-size: 2em;
  text-align: center;
}

.dropdown-menu h6 {
  font-size: 1em;
}

.toWhoTxt {
  width: 80%;
  float: left;
}

.forWhat {
  width: 100%;
  margin: 0 auto;
  height: 200px;
  margin-top: 20px;
}

.howMuch {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  margin-top: 20px;
}

.howMuchTxt {
  width: 40%;
  height: 100%;
}

.chipTxt {
  width: 30%;
  height: 100%;
  margin-left: 10px;
  font-size: 2em;

}

.fa-plus-circle {
  font-size: 2em;
  opacity: .5;
  float: right;
  margin-top: 30px;
}

.fa-plus-circle:hover {
  opacity: 1;
}

.companyInfo {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  color: white;
  opacity: .5;
  text-align: center;
}


#refresh {
  float: right;
  padding-right: 15px;
  font-size: 2em;
}




/* TINA */

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

p, h1, h2, h3, h4, h5, a, li, ul, span, button, form {
  font-family: 'Open Sans', sans-serif; }

.hidden {
  display: none; }

.pageWrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: block; }
.mainWrapper {
  display: block;
}
.contentWrap {
  display: block; }

.contentWidth {
  margin: 0 auto;
  width: 60%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.loginWrap {
  width: 100%;
  box-shadow: 5px 10px 15px black; }

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 200px;
  width: 100%; }

.title h1 {
  color: #f8f6e9;
  text-shadow: 0px 2px 2px black;
  font-size: 8vw;
  margin: 0;
  font-family: sans-serif; }

.loginScreen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f8f6e9;
  height: 250px;
  width: 100%;
  border: 1px solid white;
  border-bottom: 1px double black; }

.loginScreen form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 40px; }

.loginScreen #passwordForm {
  margin-bottom: 30px; }

.loginScreen .login {
  width: 80%;
  height: 50px;
  padding-left: 20px;
  font-size: 1.2em;
  font-style: italic; }

.loginScreen i {
  margin-right: 20px;
  font-size: 1.5em; }

.signUpWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #f8f6e9;
  height: 50px;
  width: 100%;
  border: 2px solid white;
  border-top: 0px; }
  .signUpWrap #logInButton {
    margin-right: 20px; }
  .signUpWrap button {
    width: 150px; }

  .feedPost {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    line-height: 50px;

  }
  .feedIcon {
      font-size: 2em;
      color: red;
      width: 15%;
    }
  .feedTxt {
    width: 85%;
    height: 100%;
    overflow: hidden;
  }

/*# sourceMappingURL=style.css.map */


.headBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  background: linear-gradient(#bd3d3c 20%, #6c1b1a 90%, #bd3d3c);
  width: 100%;
  box-shadow: 5px 10px 15px black;
  color: #f8f6e9;
  margin-bottom: 20px;

}

#refresh {
  float:left;
  color: #f8f6e9;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 20px;

}

.btn-lg {
  float: right;
  color: #black;
  background-color:#f8f6e9;
  font-size: 18px;
  margin-right: 20px;
  margin-top: 5px;
}

.btn-lg:focus {
  outline: none;
}
