* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Oswald', serif;
}
html {
  background-size: cover
}

body {
  background: url(Pokerbackdrop.jpg) no-repeat center center fixed;
  background-size: cover;
}
.bigChip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  height: 380px;
  width: 380px;
  background-image: url("chipbutton.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  opacity: .7;
}

.bigChip:hover {
  opacity: 1;
}

.bigChip div {
  height: 80%;
  width: 80%;
}

.profile {
  height: 50px;
  background-color: #f8f6e9;
  width: 100%;
}

.chipBox {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-bottom: 40px;
}

.mainContent {
  width: 80%;
  max-height: 400px;
  overflow: scroll;
  margin: 0 auto;
  background-color: #f8f6e9;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.toWho {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 50px;
}

.fa-user {
  width: 20%;
  height: 50px;
  color: black;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 2em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputArea {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  text-align: center;
}

.dropdown {
  bottom: 42px;
  width: 40px;
  float: right;
}

.players:hover {
  cursor: pointer;
  color: #bd3d3c;
}

.btn-group {
  border: 1px solid lightgray;
  background-color: white;
  width: 80%;
}

.dropdown-toggle {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.btn-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.toWhom {
  font-size: 1.8em;
  color: #bd3d3c;
}

.clear {
  color: black;
  font-size: 1.2em;
  margin-right: 10px;
  margin-left: 7px;
}

.clear:hover {
  cursor: pointer;
  color: #bd3d3c;
}

.btn .caret {
  margin-left: 10px;
  color: black;
}

.dropdown-menu {
  min-width: 100%;
  max-height: 300px;
  overflow: scroll;
  font-size: 2em;
  text-align: center;
}

.dropdown-menu h6 {
  font-size: 1em;
}

.toWhoTxt {
  width: 80%;
  float: left;
}

.forWhat {
  width: 100%;
  margin: 0 auto;
  height: 200px;
  margin-top: 20px;
}

.howMuch {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  margin-top: 20px;
}

.howMuchTxt {
  width: 40%;
  height: 100%;
}

.chipTxt {
  width: 30%;
  height: 100%;
  margin-left: 10px;
  font-size: 2em;

}

.sendChips {
  font-size: 1.5em;
  opacity: .5;
  float: right;
  margin-top: 10px;
  margin-right: 25px;
  color: rgb(55, 170, 26);
}

.sendChips:hover {
  color: rgb(28, 84, 14);
  cursor: pointer;
}

.fa-plus-circle {
  margin-left: 10px;
}

.fa-bomb {
  margin-left: 10px;
  margin-right: 10px;
}

.sendChallenge {
  font-size: 1.5em;
  opacity: .5;
  float: right;
  margin-top: 10px;
  color: #bd3d3c;
}

.sendChallenge:hover {
  color: #692121;
  cursor: pointer;
}

.sendChallenge {
  opacity: 1;
}

.companyInfo {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  color: white;
  opacity: .5;
  text-align: center;
}


#refresh {
  padding-right: 15px;
  font-size: 2em;
}




/* TINA */

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

p, h1, h2, h3, h4, h5, a, li, ul, span, button, form {
  font-family: 'Open Sans', sans-serif; }

.hidden {
  display: none; }

.pageWrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: block; }
.mainWrapper {
  display: block;
}
.contentWrap {
  display: block; }

.contentWidth {
  margin: 0 auto;
  width: 60%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.loginWrap {
  width: 100%;
  box-shadow: 5px 10px 15px black; }

.logoBox{
  width: 100%;
  height: 40%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 20px;
  width: 100%;
  margin-bottom: 20px;
  }

.title h1 {
  color: #f8f6e9;
  text-shadow: 0px 2px 2px black;
  font-size: 2em;
  margin: 0;
  font-family: 'Alfa Slab One', sans-serif;
  margin-bottom: 20px;
  }

.loginScreen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f8f6e9;
  height: 250px;
  width: 100%;
  border: 1px solid white;
  border-bottom: 1px double black; }

.loginScreen form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 40px; }

.loginScreen #passwordForm {
  margin-bottom: 30px; }

.loginScreen .login {
  width: 80%;
  height: 50px;
  padding-left: 20px;
  font-size: 1.2em;
  font-style: italic; }

.loginScreen i {
  margin-right: 20px;
  font-size: 1.5em; }

.signUpWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #f8f6e9;
  height: 50px;
  width: 100%;
  border: 2px solid white;
  border-top: 0px; }
  .signUpWrap #logInButton {
    margin-right: 20px; }
  .signUpWrap button {
    width: 150px; }

  .feedPost {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 50px;

  }
  .feedIcon {
      font-size: 2em;
      color: #bd3d3c;
      width: 10%;
    }
  .feedTxt {
    width: 70%;
    height: 100%;
    overflow: hidden;
  }

  .moreButton {
    width: 20%;
    height: 30px;
    border-radius: 6px;
    float: right;
    background: -webkit-linear-gradient(#bd3d3c 20%, #6c1b1a 90%, #bd3d3c);
    background: linear-gradient(#bd3d3c 20%, #6c1b1a 90%, #bd3d3c);
    border-left: 2px solid #bd3d3c;
    color: white;
    text-align: center;
    line-height:30px;
  }

  .moreButton:hover {
    background: linear-gradient(#6c1b1a 20%, #bd3d3c 90%, #6c1b1a);
  }

  .backButton {
    width: 30px;
    height: 30px;
    float: right;
  }

  .completeButton {
    width: 100%;
    height: 40px;
    background-color: white;
    margin-top: 20px;
    border-radius: 6px;
    color: white;
  }

  .completeButton:hover {
    background-color: #bd3d3c;
  }

  .whoWonText{
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: black;
  }

  .forWhatGiven {
    width: 100%;
    height: 400px;
    background-color: white;
    color: black;
    border-radius: 6px;
  }

  .userButtonBox {
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .userButton {
    width: 45%;
    height: 100%;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 50px;
  }

  .userButton:hover {
    background-color: #bd3d3c;
  }


.headBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  background: -webkit-linear-gradient(#bd3d3c 20%, #6c1b1a 90%, #bd3d3c);
  background: linear-gradient(#bd3d3c 20%, #6c1b1a 90%, #bd3d3c);
  width: 100%;
  box-shadow: 5px 10px 15px black;
  color: #f8f6e9;
  margin-bottom: 20px;

}

#refresh {
  float:left;
  color: #f8f6e9;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 20px;

}

.btn-lg {
  float: right;
  color: #black;
  background-color:#f8f6e9;
  font-size: 18px;
  margin-right: 20px;
  margin-top: 5px;
}

.btn-lg:focus {
  outline: none;
}

.homeButton {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: black;
  border: 2px solid black;
  border-radius: 6px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.homeButton:hover {
  color: #f8f6e9;
  border: 2px solid #f8f6e9;
}
